.profile__edit-avatar-btn {
    max-width: 120px;
    max-height: 120px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    /* object-fit: cover; */
}

.profile__edit-avatar-btn:hover {
    background-image: url(../../../images/editAvatarBtn.svg);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}