.popupinput {
    margin: 0 auto;
    margin-bottom: 23px;
    border-style: none;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
    height: 33px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
}

.popupinput:focus {
    outline: none;
}

.popupinput:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 320px) {
    .popupinput {
        width: 238px;
    }
}

@media (min-width: 1280px) {
    .popupinput {
        width: 358px;
    }
}